.mobile-toolbar {
    display: flex;
    width: unset;
    max-width: 90%;
    overflow: scroll;
    border: 1px solid var(--background-modifier-border);
    border-radius: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5rem;
}
