/* EMBEDS */

/* make embed titles consistent with no matter where they are from */
.markdown-preview-view .markdown-embed .markdown-embed-title,
.markdown-preview-view .markdown-embed h1,
.markdown-preview-view .markdown-embed h2,
.markdown-preview-view .markdown-embed h3,
.markdown-preview-view .markdown-embed h4,
.markdown-preview-view .markdown-embed h5 {
    text-align: center;
}

/* more seamless embeds */
.markdown-preview-view .markdown-embed {
    border: none !important;
    border-radius: 1rem;
}
.markdown-preview-view .markdown-embed-content {
    max-height: none !important;
}

/* style tweaks to embedded content */
.markdown-preview-view .markdown-embed-content .markdown-preview-view {
    font-size: 90% !important;
    padding-left: 0;
    padding-right: 0;
}
.markdown-preview-section pre code {
    padding: 0;
}
